# --- LINGOPILOT AI REQUIREMENTS ---

# Interfaz Gráfica
PyQt5==5.15.10

# Procesamiento de Audio y Señales
soundcard==0.4.3
scipy==1.11.4
numpy==1.26.2

# Inteligencia Artificial y APIs
groq==0.9.0
python-dotenv==1.0.0

# Sistema y Atajos de Teclado
keyboard==0.13.5

# Utilidades de Red (Dependencia de Groq)
httpx==0.25.2